@import url("https://use.typekit.net/aaf8cth.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
}

::selection {
    background: #20354F;
    color: #fff;
}

::-moz-selection {
    background: #20354F;
    color: #fff;
}

body,
html {
    font-family: 'Inter', -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;
    font-weight: 300;
    background: #EEFEFB;
    color: #20354F;
    font-size: 10px;

}

strong {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    background: transparent;
    transition: all .25s ease-in;
    background-position: 100% 0;
    background-size: 201.5% 100%;
    padding: 0rem;
    border-radius: 1px;
}

a:visited {
    color: inherit;
}

.flexcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.header {
    font-family: 'new-spirit', serif;
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 5.6rem;
    margin-bottom: 3.2rem;
    color: #175550;
}

.container {
    font-size: 3.2rem;
    line-height: 5.6rem;
    padding: 0 2.4rem;
    max-width: 110rem;
    height: auto;

}

.emoji {
    margin-right: 1rem
}

a.email {
    color: #8448D9;
    background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            #8448D9 50%,
            #8448D9);
}

a.linkedin {
    color: #027FC4;
    background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            #027FC4 50%,
            #027FC4);
}

a.dribbble {
    color: #EF4D8B;
    background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            #EF4D8B 50%,
            #EF4D8B);
}

a.twitter {
    color: #0096E8;
    background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            #0096E8 50%,
            #0096E8);
}

a.avion {
    color: #27BEC4;
    background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            #27BEC4 50%,
            #27BEC4);
}

a.scvsoft {
    color: #12B896;
    background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            #12B896 50%,
            #12B896);
}

a.yecas {
    color: #9145FA;
    background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            #9145FA 50%,
            #9145FA);
}

a.anarchygames {
    color: #FFC107;
    background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            #FFC107 50%,
            #FFC107);
}

a:hover {
    background-position: 0 0;
    color: #fff;
}

@media screen and (max-width: 800px) {

    body,
    html {
        font-weight: 400;
    }

    .container {
        font-size: 2.4rem;
        line-height: 4rem;
    }

    .header {
        font-size: 4.8rem;
        line-height: 4.8rem;
    }
}