@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
}

::selection {
    background: #DEEBFF;
    color: #121212;
}

::-moz-selection {
    background: #D6E1E5;
    color: #121212;
}

body,
html {
    font-family: -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;
    font-weight: 300;
    background: rgb(241,253,255);
    background: linear-gradient(-180deg, rgba(241,253,255,1) 0%, rgba(208,236,241,1) 100%);
    color: #161F2A;
    font-size: 10px;

}

strong {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    background: transparent;
    transition: all .25s ease-in;
    background-position: 100% 0;
    background-size: 201.5% 100%;
    padding: 0rem;
    border-radius: 1px;
}

a:visited {
    color: inherit;
}

.flexcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.header{
    font-family: 'DM Serif Display', serif;
    font-size: 4.8rem;
    line-height:5.6rem;
    margin-bottom:3.2rem;
    color:#175550;
}
.container {
    font-size: 3.2rem;
    line-height: 5.6rem;
    padding: 0 2.4rem;
    max-width: 110rem;
    height: auto;

}

.emoji {
    margin-right: 1rem
}

a.email {
    color: #833C00;
    background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            #833C00 50%,
            #833C00);
}

a.linkedin {
    color: #027FC4;
    background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            #027FC4 50%,
            #027FC4);
}

a.dribbble {
    color: #EF4D8B;
    background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            #EF4D8B 50%,
            #EF4D8B);
}

a.twitter {
    color: #0096E8;
    background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            #0096E8 50%,
            #0096E8);
}

a.avion {
    color: #27BEC4;
    background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            #27BEC4 50%,
            #27BEC4);
}

a.scvsoft {
    color: #12B896;
    background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            #12B896 50%,
            #12B896);
}

a.yecas {
    color: #9145FA;
    background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            #9145FA 50%,
            #9145FA);
}

a.anarchygames {
    color: #FFC107;
    background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            #FFC107 50%,
            #FFC107);
}

a:hover {
    background-position: 0 0;
    color: #fff;
}

@media screen and (max-width: 800px) {
    .container {
        font-size: 2.4rem;
        line-height: 4rem;
    }
    .header{
        font-size: 4.8rem;
        line-height:4.8rem;
    }
}