@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,800&display=swap');

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
}

::selection {
    background: #4B4F56;
    color: #fff;
}

::-moz-selection {
    background: #4B4F56;
    color: #fff;
}

body,
html {
    font-family: 'Nunito Sans', -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;
    font-weight: 400;
    background-color: #fff;
    color: #4B4F56;
    font-size: 10px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

.container {
    max-width: 70rem;
    margin: 0 auto;
    padding: 5rem 2rem;
}

h1 {
    font-size: 6rem;
    font-weight: 800;
    margin-bottom: 2rem;
    letter-spacing: -1px;
}

h2 {
    font-size: 4rem;
    letter-spacing: -1px;
    margin-bottom: 1rem;
}

h3 {
    font-size: 3rem;
}

.socialLinks {
    padding: 5rem 0 0 0;
    font-size: 2rem;
}

.socialLinks li {
    margin-bottom: 1rem;
}

.socialLinks li a {
    margin-bottom: 1rem;
    transition: all 0.2s ease-in-out;
    position: relative;
    padding: 1rem 0;
}

.socialLinks li a:hover {
    padding-left: 1rem;
}

a.email {
    color: #ff1744;
}

a.linkedin {
    color: #0168a1;
}

a.dribbble {
    color: #d4457c;
}

a.twitter {
    color: #1b92db;
}

a.instagram {
    color: #9a2577;
}

@media screen and (max-width: 800px) {

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.8rem;
    }

    h3 {
        font-size: 2.4rem;
    }

    .socialLinks {
        font-size: 2rem;
    }
}