@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:600,900&display=swap');

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
}

::selection {
    background: #D6E1E5;
    color: #121212;
}

::-moz-selection {
    background: #D6E1E5;
    color: #121212;
}

body,
html {
    font-family: 'Nunito Sans', -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;
    font-weight: 600;
    background-color: #121212;
    color: #D6E1E5;
    font-size: 10px;

}

strong {
    font-weight: 900;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 900;
    background: transparent;
    transition: all .25s ease-in;
    background-position: 100% 0;
    background-size: 200% 100%;
    padding: 0 0.5rem;
    border-radius: 1px;
}

a:visited {
    color: inherit;
}

.flexcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    font-size: 4rem;
    line-height: 6.4rem;
    padding: 0 4rem;
    max-width: 110rem;
    height: auto;

}


a.email {
    color: #26E9C3;
    background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            #26E9C3 50%,
            #26E9C3);
}

a.linkedin {
    color: #027FC4;
    background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            #027FC4 50%,
            #027FC4);
}

a.dribbble {
    color: #EF4D8B;
    background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            #EF4D8B 50%,
            #EF4D8B);
}

a.twitter {
    color: #0096E8;
    background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            #0096E8 50%,
            #0096E8);
}

a.avion {
    color: #27BEC4;
    background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            #27BEC4 50%,
            #27BEC4);
}

a.scvsoft {
    color: #12B896;
    background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            #12B896 50%,
            #12B896);
}

a.yecas {
    color: #9145FA;
    background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            #9145FA 50%,
            #9145FA);
}

a.anarchygames {
    color: #FFC107;
    background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            #FFC107 50%,
            #FFC107);
}

a:hover {
    background-position: 0 0;
    color: #121212;
}

@media screen and (max-width: 800px) {
    .container {
        font-size: 2.4rem;
        line-height: 3.6rem;
    }

}